.Register {
  width: 600px;
  justify-content: center;
  margin-top: -21px;
}

.form-container {
  max-width: 580px;
  height: 688px;
}

.title {
  text-align: center;
  margin-bottom: 31px;
  font-size: 50px;
  font-weight: 700;
  color: #373737;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form input,
button {
  border-radius: 10px;
  height: 60px;
  padding: 10px;
}

.form button {
  background-color: #214457;
  color: #ffffff;
  font-size: 33px;
  font-weight: bold;
  padding: 7px 0;
  border: none;
}

.form button:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.form a {
  text-align: center;
  color: #3e89ae;
  font-size: 18px;
  font-weight: bold;
}

.form input {
  padding: 0 18px;
}

input::placeholder {
  font-size: 20px;
}

.show-password {
  position: relative;
}

.show-password input {
  width: 100%;
}

.show-password button {
  color: #214457;
  background: transparent;
  position: absolute;
  right: 15px;
  top: 13px;
  height: 33px;
  font-size: 2rem;
}

.show-password button:hover {
  filter: (brightness(150%));
}
